.blog-card-container {
    width: 33%;
    display: block;
    margin-bottom: 40px;
}

.blog-card-main {
    margin: 0 7px;
    border-radius: 7px;
    border: 1px solid #e8ebf2;
    background-color: white;
    height: 100%;
}

.blog-card-img {
    width: 100%;
    height: 10rem;
    background-size: cover;
    position: relative;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    cursor: pointer;
}



.blog-card-vertically-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.blog-card-img:hover {
    opacity: 0.8;
}

.blog-second-row {
    min-height: 6rem;
    position: relative;
    margin:  10px 16px;
}



.blog-card-description {
    font-size: 13px;
    color: #a5a5a5;
}

.blog-card-title {
    font-size: 18px;
    font-weight: 600;
    color: #2c3249;
    cursor: pointer;
}

.blog-card-cat-date {
    color: rgb(132, 132, 132);
    display: flex;
    font-weight: 400;
    font-Size: 0.8rem;
}

.blog-categories {
    display: inline-block;
    width: 20px;
    height:20px;
    margin: 0px 10px 0px 0px;
}

.blog-categories-icon {
    width: 20px;
    height: 20px;
    color: white;
    transition: all 0.1s ease-in 0.1s;
}

.blog-categories-icon:hover {
    height: 25px;
    width: 25px;
}
@media screen and (max-width: 768px) {
    .blog-card-container {
        width: 98%;
        margin: 1% 1%;
    }

    .blog-second-row {
        margin: 5px 0;
        min-height: 0;
    }

    .blog-card-title {
        font-size: 12px;
    }
    .blog-card-description {
        font-size: 10px;
    }
    .blog-card-cat-date {
        font-size: 10px;
        margin: 5px 0;
    }
    .blog-categories {
        width: 20px;
        height: 20px;
        margin: 5px;
    }

    .blog-categories-icon {
        width: 15px;
        height: 15px;
    }
    .blog-card-main {
        border: none;
        margin: 0;
    }
    .blog-card-img {
        border-radius: 3px;
    }
}