.layout-mobile {
    margin: 0 auto;
    max-width: 75.30769rem;
    width: 100%;
    min-height: 15.38462rem;
    padding: 1rem 1rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.layout-mobile * {
    box-sizing: border-box;
}

.layout-main-mobile {
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 4px rgba(95, 95, 95, 0.14);
    border-radius: 4px;
}

.layout-main-padding-mobile {
    padding-left: 1.15385rem;
    padding-right: 1.15385rem;
}

.layout-cart.is-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.layout-cart-mobile {
    width: 100%;
    padding: 0;
}

.checkout-steps-mobile {
    counter-reset: li-counter;
    list-style-type: none;
    margin: 0;
}

.checkout-step-mobile {
    border-bottom: 1px solid #ebebeb;
    padding: 1.5rem 0;
}

.stepHeader-mobile {
    -ms-flex-align: top;
    align-items: top;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
}

.stepHeader-figure-mobile {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    height: 2.69231rem;
    margin-right: 1.5rem;
}

.stepHeader-counter-mobile {
    height: 2.69231rem;
    width: 2.69231rem;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    transition: transform 250ms ease;
    color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stepHeader-title-mobile {
    margin: 0 0 0 1rem;
    min-width: 9rem;
    color: #fc9c04;
    font-weight: 400;
    font-size: 1.92308rem;
}

.checkout-form {
    /* margin: 1.5rem 0 0; */
}

.checkout-form-guest-text-mobile {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    text-rendering: optimizeLegibility;
    color: rgb(79, 79, 79);
}

.checkout-form-pay-text-mobile {
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 5px;
    text-rendering: optimizeLegibility;
    color: rgb(79, 79, 79);
}

.text-label-mobile {
    cursor: pointer;
    display: block;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: .375rem;
    color: rgb(102, 102, 102);
}

.form-input-mobile {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px #ebebeb;
    color: #333;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 2.7rem;
    margin: 0;
    padding: .75rem 1rem;
    transition: all 100ms ease-out;
    width: 100%;
}

.form-button-mobile {
    white-space: nowrap;
    border: 1px solid #fc9c04;
    background-color: #fc9c04;
    border-radius: 3px;
    height: 2.7rem;
    color: white;
    transition: all 0.1s ease-in;
    font-weight: 600;
}

.form-input-mobile:focus {
    background: #fff;
    border-color: #fc9c04;
    outline: none;
    box-shadow: 0 0 3px #fc9c04, inset 0 1px 1px #ebebeb;
}

.cart-mobile {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(95, 95, 95, 0.14);
    display: block;
    margin: 0 0 1rem;
    min-height: 300px;
    background-color: #fff;
}

.cart-header-mobile {
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.card-header-text-mobile {
    color: #2d2d2d;
    font-size: 1rem;
}

.cart-section-mobile {
    padding: 1rem;
    border-top: 1px solid #ebebeb;
}

.cart-section-heading-mobile {
    font-size: 0.8rem;
    margin-bottom: 1.275rem;
    color: #4f4f4f;
}

.card-item-mobile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.card-item-figure-mobile {
    padding-right: 1.5rem;
    width: 25%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.card-item-figure-mobile img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.card-product-body-mobile {
    padding-right: 0;
    width: 55%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.cart-mobile-counter-container {
    margin-top: 5px;
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
}

.card-product-title-mobile {
    margin-bottom: .1875rem;
    color: #4f4f4f;
    font-size: 0.8rem;
}

.card-product-option-mobile {
    color: #989898;
    font-size: .64615rem;
}

.cart-mobile-remove-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    border: none;
    background: white;
    color: rgb(152, 152, 152);
}

._3L1X9 {
    display: inline-block;
    height: 30px;
    width: 83px;
    border: 1px solid #d4d5d9;
    color: #fc9c04;
    font-size: .9rem;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    text-align: center;
    background-color: #fff;
}

._29ugw {
    width: 70px!important;
    font-size: 12px!important;
    display: block!important;
}

._1ds9T {
    position: absolute;
    right: 0;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
    font-size: 150%;
    font-weight: 600;
}

._29Y5Z {
    position: absolute;
    left: 0;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
}

._29Y5Z:before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 10px;
    background-color: #fc9c04;
    position: relative;
    top: -6px;
}

._2zAXs {
    position: absolute;
    left: 33.33333%;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
}

.cart-product-actions-mobile {
    align-self: center;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.cart-product-price-mobile {
    color: #4f4f4f;
    font-size: 0.8rem;
}

.cart-priceItem-mobile {
    display: table;
    margin-bottom: .75rem;
    width: 100%;
    color: #4f4f4f;
}

.cart-priceItem--total-mobile .cart-priceItem-value-mobile {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
}

.cart-priceItem-label-mobile, .cart-priceItem-value-mobile {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.9rem
}

.cart-priceItem-label-mobile {
    font-weight: 600;
}

.cart-priceItem-value-mobile {
    text-align: right;
}

.checkout-form-mobile {
    margin-top: 1.5rem;
}

@media (min-width: 551px) {
    .checkout-step-mobile {
        padding-right: 2.25rem;
    }
    .checkout-form-mobile {
        margin-left: 4.19231rem;
    }
    .stepHeader-mobile {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .card-product-body-mobile {
        padding-right: .375rem;
        width: 50%;
    }
    .cart-product-actions-mobile {
        -ms-flex-item-align: start;
        align-self: flex-start;
        text-align: right;
        width: 25%;
        word-wrap: break-word;
    }
}

@media (min-width: 801px) {
    .checkout-steps-mobile {
        padding-right: 6rem;
    }
}

@media (min-width: 968px) {
    .layout-main-mobile {
        width: 58.33333%;
    }
    .layout-cart-mobile {
        width: 41.66667%;
    }
    .layout-mobile {
        padding-bottom: 1.5rem;
    }
    .stepHeader-mobile {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .checkout-form-mobile {
        margin-left: 0;
    }
    .cart-mobile {
        display: block;
    }
}

@media (min-width: 1080px) {
    .checkout-form-mobile {
        margin-left: 4.19231rem;
    }
}

@media (min-width: 1261px) {
    .layout-main-mobile {
        width: 66.66667%;
    }
    .layout-main-padding-mobile {
        padding-right: 6rem;
    }
    .layout-cart-mobile {
        width: 33.33333%;
    }
}